<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<hr>
<p>
  <span>email: </span>
  <%= @user.email %>
</p>
<p>
  <span>ツイート内容: </span>
  <%= @tweet.body %>
</p>


<h2>コメント一覧</h2>
<p>
  コメント件数: <%= @tweet.post_comments.count %>
</p>
<% @tweet.post_comments.each do |post_comment| %>
  <hr>
  <p>
    <%= post_comment.user.email %> <%= post_comment.comment %>
    <% if current_user != tweet.user %>
      <% if tweet.user.followed_by?(current_user) %>
        <p>
          <%= link_to 'フォロー済み', user_relationships_path(tweet.user.id),
              method: :delete %>
        </p>
      <% else %>
        <p>
          <%= link_to 'フォローする', user_relationships_path(tweet.user.id),
              method: :post %>
        </p>
      <% end %>
    <% end %>
    <% if post_comment.user == current_user %>
      <%= link_to '削除', tweet_post_comment_path(post_comment.tweet, post_comment), method: :delete %>
    <% end %>
  </p>
<% end %>

<h4>コメントをする</h4>
<%= form_with(model:[@tweet, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, row:'3' %>
  <%= f.submit 'コメント' %>
<% end %>

